.html {
    font-size: 62.5%;
}

* {
    padding: 0%;
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@600&family=Roboto+Mono&display=swap');
}

.main {
    background: linear-gradient(45deg, #453bff, transparent);
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.h1 {
    background-color: black;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    font-size: 2rem;
    margin-top: 0rem;
    padding: 1.01rem;
    color: yellow;
}

.h2 {
    background-color: #453bff;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 2rem;
    padding-right: 2rem;

}


.f1 {
    padding-top: 3rem;
    padding-bottom: 5rem;
    text-align: center;
    font-size: 2rem;
    margin-top: -1rem;
    margin-bottom: 2rem;
    color: rgb(38, 0, 255);
}

.btn {
    font-size: 1rem;
    color: white;
    border-radius: 2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: rgb(21, 66, 163);
    cursor: pointer;
}

.btn:hover {
    color: rgb(21, 66, 163);
    background-color: white;
}

.btn1 {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.836);
    border-radius: 2rem;
    padding: 0.5rem;
    margin-top: 2rem;
    font-weight: bold;
    background-color: blanchedalmond;
    cursor: pointer;
}

.end {
    width: 100vw;
    line-height: 5rem;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: -2rem;
}

@media(max-width:350px) {
    .h1 {
        font-size: 1.7rem;
        padding: 0.5rem;
    }

    .h2 {
        font-size: 1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .f1 {
        padding-top: 2.5rem;
        padding-bottom: 4rem;
        font-size: 1rem;
        margin-top: -4rem;
        margin-bottom: 2rem;
    }
    .btn {
        font-size: .9rem;
        padding: 0.7rem;
        margin-top: 1rem;
    }
    .end {
        width: 95vw;
        line-height: 4rem;
    }
}


@media(max-width:682px){
    .h1 {
        padding: 1.01rem;
        padding: 0rem;
    }

    .h2 {
        font-size: 1.7rem;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
    }

    .f1 {
        padding-top: 5rem;
        padding-bottom: 5rem;
        font-size: 2rem;
        margin-top: -1rem;
        margin-bottom: 3rem;
    }
    .btn {
        font-size: 1.5rem;
        padding: 0.7rem;
        margin-top: 2rem;
    }
    .btn1{
        font-size: 1rem;
        border-radius: 2rem;
        padding: 0.9rem;
        margin-top: 2rem;
    }
    .end {
        width: 98vw;
        line-height: 6rem;
    } 
}